html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin : 0px
}

.header {
    padding: 16px;
    box-shadow: 0 0 8px black;
}

.header img {
    height: 32px;
    display: block;
    margin: auto;
}

.photo img {
    width: 100%;
    max-height: 512px;
    object-fit: cover;
}